.w-20{
 width: 20%;   
}
.w-30{
 width: 30%;   
}
.insta_text{
    width: 100px;
}
.bi{
    margin-right:10px;
}
.font{
font-size: 20px; 
}
.story{
    height: 60px;
}
.dp{
    height: 30px;
    width: 30px;
}
.post_inst{
    width: 400px;
}
.switch_font{
font-size: 15px;
}
.sugges_map small{
    cursor: pointer;
}
.dps{
    width: 50px;
}
.story-ring {
  padding: 3px;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff00ff, #ff6600, #ffcc00);
  display: inline-block;
}
.sidebar{
cursor:pointer;
}.profiles_pic{
    width: 50px;
    height: 50px;
}
.followers{
font-size: 20px;}

.followers-img {
        width: 30px;
        height: 30px;
  object-fit: cover;

}
.w-300{
    width: 300px;
    margin: 0 auto;
}
body{
    background-color: #1c1f23;
color: white;
}
.glow {
  box-shadow: 0 0 25px rgba(0, 123, 255, 0.4);
}

